<div class='row'>
    <div class='col-md-10'>

    </div>
    <div class='col-md-2'>
        <a href='/logout'> Logout</a>
    </div>
</div>

<div class='row'>
    <div class='col-md-4'>

    </div>
    <div class='col-md-4 text-center'>
        <a href='/post'> New Post </a>
    </div>
    <div class='col-md-4'>

    </div>
</div>

